<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="css/style.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


	<title>Document</title>

	<!-- ícone na aba -->
	<link rel="shortcut icon" href="./images/robot.svg" type="image/x-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

	<!-- BS Icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<!-- Chamada da CSS do BS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<!-- Minha CSS -->
	<link rel="stylesheet" href="./css/styles.css">

</head>

<body>
	<div th:replace="layout/header :: headerFragment"></div>






	<div id="container bg-image1" class="container-main bg-image1 hero">
		<h1 class="hero-title">OceanHelp</h1>
		<p class="hero-text"> O oceâno pede nossa ajuda.</p>
		<p class="hero-text"> É nosso dever ajudá-lo!</p>
		<a href="" class="btn1">Saiba mais</a>
	</div>

	<div class="container-main bg-color1">
	</div>



	<div th:replace="layout/footer :: footerFragment"></div>
</body>

</html>